/*estilos home*/
*{
    padding: 3px;
    margin: 5px;
    box-sizing: border-box;
}
@import "base/variables";
@import"base/mixins";
@import"base/extend";
@import"base/mapas";

body{
    .headerHome{
        display: grid;
        grid-template-columns:7fr;
        grid-template-rows:2.5fr;
        grid-template-areas:" headerHome ";
        background-color: $colorTerciario;
        grid-area: headerhome;
        @include flex-colum;
        flex-wrap: wrap;
        .piePagina{
            background-color:$colorPrincipal;
            @include  leter-type;
            @include decoration-text;
        }
        h1{
            @include  leter-type;
            font-weight: bold;
            font-size: 6vw;
            border: 10px solid rgb(6, 5, 5);
            justify-content: center;
        }
        p{
            text-align: center;
        }
        .navEventos{
            font-weight: bold;
            background-color:$colorSecundario;
        }
    }
    .seccionCentral{
        display: grid;
        grid-template-columns:3.5fr 3.5fr;
        grid-template-rows:3.5fr  ;
        grid-template-areas:" divSeccion sectionRutini "; 
        background-color:$colorSecundario;
        grid-area: seccionCentral ;
        font-weight: bold;
        h2{
            @include leter-type;
        }
        p{
            @include leter-type;
        }
        section{
            display: flex;
            background-color:$colorPrincipal;
        }
        .imagenRutini{
            animation-name: imagenRutini;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
        @keyframes imagenRutini{
            from{
                transform: scale(0);
            }
            to{
                transform: scale(0.5);
            }
        }
        .sectionRutini{
            grid-area: sectionRutini;
            align-items: center;
            justify-content: center;
            display: block;
        }
    }
    .footerHome{
        display: grid;
        grid-template-columns:7fr;
        grid-template-rows:1fr  ;
        grid-template-areas:" footerHome ";
        background-color: $colorTerciario;
        text-align: center;
        grid-area: footer ;
        font-weight: bold; 
        a{
            text-decoration: none;
            color:map-get($map: $colores, $key:h1 );
            font-size: bold;
            
        }
    }
    @media screen and (max-width:600px){
        .contendorHome .headerHome{
            display: grid;
            grid-template-columns:7fr;
            grid-template-rows:2.5fr  ;
            grid-template-areas:" headerHome ";   
        }
        .contendorHome .seccionCentral{
            display: grid;
            grid-template-columns:7fr ;
            grid-template-rows:3.5fr 3.5fr;
            grid-template-areas:" divSeccion"
                                 "sectionRutini";   
        }
        
        .contendorHome .footerHome{
            display: grid;
            grid-template-columns:7fr;
            grid-template-rows:1fr  ;
            grid-template-areas:" footerHome ";   
        }
    
        .headerHome{
            background-color:$colorSecundario;
        }
        .menu{
            background-color:map-get($map: $colores, $key:h1 );
        }
    }
    @media screen and (max-width:399px){
        .sectionRutini{
            display: none;
        }
        .contendorHome .seccionCentral{
            display: grid;
            grid-template-columns:7fr ;
            grid-template-rows:3.5fr;
            grid-template-areas:" divSeccion";   
        }
    
    }

}
/*estilos ubicacion*/

body{
    header{
        grid-area: headerUbi;
        background-color: $colorTerciario;
        .absolutImagen{
            text-align: center;
        }
        .ubicacionTitulo{
            @include leter-type;
            font-size: 60px;
            border: 10px solid black;
            font-weight: bold;
        }
        .navUbicacion{
            background-color: orange;
            border: 10px solid black;
            font-weight: bold;
        }

    }
    main{
        background-color:orange;
        font-weight: bold;
        .cartasUbi{
            background-color: grey;
            text-align: center;
            .card-body{
                background-color: grey;
            }
        }
      
        
    }
   
    @media screen and (max-width:600px){  
        .contendorUbicacion{
            background-color: black;
        }
    }
    @media screen and (max-width:399px){  
        .contendorUbicacion{
            background-color:whitesmoke;
        }
    }
}
/*estilos productos*/
body{
    div{
        .headerProducto{
            display: grid;
            grid-template-columns:7fr;
            grid-template-rows:7fr  ;
            grid-template-areas:" headerProducto ";
            grid-area: headerProducto;
            @include flex-wrap;
            background-color:$colorTerciario;
            .productosTitulo{
                @include leter-type;
                font-weight: bold;
                font-size: 5vw;
                border: 10px solid black;
            }
            .container-fluid{
                background-color:$colorSecundario;
                justify-content: space-evenly;
                border:10px solid black;
                font-weight: bold;
                .navproductos{
                    @include leter-type;
                    font-weight: bold;
                    background-color:$colorSecundario;
                 
                }

            }
            .aperitivosProductos{
                text-align: center;
            }
            
            .imagenAperitivos{
                animation-name: imagenAperitivos;
                animation-iteration-count: infinite;
                animation-duration: 5s;
            }
            @keyframes imagenAperitivos{
                from{
                    transform: scale(0);
                }
                to{
                    transform: scale(0.7);
                }  
            }
        }
        .mainProductos {
            display: grid;
            grid-template-columns:7fr;
            grid-template-rows:1fr 1fr 2.5fr;
            @include flex-wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .tablaAlinerar{
                text-align: center;
                table-layout: none;
                font-weight: bold;
            }
            .tablaProductos{
                grid-area: tablaProductos;
            }
            .tablaProductos td{
                font-size: 2.5vw;
            }
            .tablaProductos{
                background-color: goldenrod;
                text-align: center;
                width: 100%;
                height: 100%;
                table-layout: fixed;
                margin-bottom: 0px;
                font-weight: bold;
            
            }
            .fernetProductosTitulo:hover{
                transform: scale(3);
                transform: translate(20px, 40px);
                background-image: linear-gradient(to left, white, right);
            }
            .fernetProductosTitulo{
                background-color:$colorTerciario;
                font-size: 3vw;
                font-weight: bold;
                @include leter-type;
                align-items: center;
                margin-top: 5px;
            }
            .contenedorProductosImg{
                text-align: center;
                grid-area: contenedorProductosImg;
            }
            .contenedorMultimedia{
                grid-area: contenedorMultimedia;
                width: 100%;
            }
            grid-template-areas:"tablaProductos" 
                                "fernetProductosTitulo"
                                "contenedorMultimedia ";                                        
        }
        .footerProductos {
            display: grid;
            grid-template-columns:7fr ;
            grid-template-rows:1fr;
            grid-template-areas:"footerProductos"; 
            grid-area: footerProductos; 
            background-color:$colorTerciario;
        }

    }
    @media screen and (max-width:600px){  
        .contendorProductos{
            background-color: burlywood;
        }
       .contenedorMultimedia{
        display: none;
       }
        .contendorProductos .mainProductos {
            display: grid;
            grid-template-columns:7fr;
            grid-template-rows:2.25fr 2.25fr;
            grid-template-areas:"tablaProductos" 
                                "fernetProductosTitulo";   
        }
    
    }
    @media screen and (max-width:399px){  
        .contenedorProductos{
            background-color: orange;
        }
       
    
    }
}
/*estilos eventos*/

body{
    .headerEventos{
        background-color:$colorTerciario;
        @include flex-colum;
        .eventosTitulo{
           @include leter-type;
            font-size: 60px;
            border: 10px solid black;
            font-weight: bold;
        }
        .navEventos{
            background-color:$colorSecundario;
            font-weight: bold;
            border: 10px solid black;
            
        }
    }
    .conteiner-fluid{
        background-color:$colorSecundario;
        padding: 100px;
    }
    footer{
        background-color: $colorTerciario;
        text-align: center;
    }
    @media screen and (max-width:600px){  
        .contedorEventos{
            background-color: grey;
        }
       
    
    }
    @media screen and (max-width:399px){  
        .contedorEventos{
            background-color: whitesmoke
        }
       
    
    }
}       

/*estilos carrito compra*/
body{
    header{
        @include flex-colum;
        .carritoImg{
            align-items: center
        }
        .carritoTitulo{
           @include leter-type;
            font-size: 60px;
            border: 10px solid black;
            font-weight: bold;
        }
        .navCarrito{
            border: 10px solid black;
            font-weight: bold;
            background-color: orange;
        }
        .listaCarrito{
            background-color: black;
            color: whitesmoke;
           @include decoration-text;
            font-size: bold;
        }
    }
    .carritoMain{
        @extend .TitleTemplate
    };
    .carritoMain{
        .tituloDos{
            font-weight: bold;
        }
        h3{
        font-size: 30px;
        font-weight: bold;
        }
        .compra{
            text-decoration: none;
            color: black;
            font-size: 20px;
            padding-top:1px;
        }
        .button{
    
            align-self: center;
            justify-content: center;
            text-align: center;
        }
        .gridm{
            text-align: center;
            padding: 20px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 80px, 400px, 400px, 400px;
            grid-template-areas: 
                 "hijom1"
                 "hijom2"
                 "hijom3";
        }
        .carritoUnos{
            display: flex;
            flex-direction: row;
            justify-self: center;
            
        
        }
        .carritoDos{
            display: flex;
            flex-direction: row;
            justify-self: center;
        }
        .carritoTres{
            display: flex;
            flex-direction: row;
            justify-self: center;
        }
        .hijom1{
            background-color: orange;
            font-size: 25px;
        }
        .hijom2 a{
           font-weight: bold;
           gap: 5px;
           margin: 20px;
           border-radius: 10%;
           background-color: whitesmoke;
           text-shadow: 2px  black;
            font-size: 20px;
        }
        .hijom3 a{
            font-weight: bold;
            margin:20px;
            border-radius: 10%;
            background-color: whitesmoke;
            text-shadow: 2px  black;
            font-size: 20px;
        }
        .hijom4 a{
            font-weight: bold;
            margin: 20px;
           border-radius: 10%;
           background-color: whitesmoke;
           text-shadow: 2px  black;
            font-size: 20px;
        }
    }
   

    @media screen and (max-width:600px){  
        .contenedorCarrito{
            background-color: grey;
        }
        .materiales{
            .carritoUnos{
                display: flex;
                flex-direction: column;
                justify-self: center;
            }
            .carritoDos{
                display: flex;
                flex-direction: column;
                justify-self: center;
            }
            .carritoTres{
                display: flex;
                flex-direction: column;
                justify-self: center;
            }
        }
       
    
    }
    @media screen and (max-width:399px){  
            .materiales{
               background-color: whitesmoke;}
    }
}

/*estilos contacto*/
.bodyContacto{
    display:grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.3fr 1.6fr 0.1fr;
    grid-template-areas: "headerContacto"
                         "mainContacto"
                         "footerContacto";
        .headerContacto{
            grid-area: headerContacto;
            text-align: center;
            display: flex;
            .contactosTitulo{
               @include leter-type;
               font-size: 60px;
               font-weight: bold;
               border: 10px solid black;
              }
            .navContacto{
             justify-content: center;
             border: 10px solid black;
             font-weight: bold;
             background-color: orange;
            }
        }
        .mainContacto{
         grid-area: mainContacto;
         .tablaColor{
            background-color:$colorTerciario;
            text-align: center;
            border: 3px solid burlywood;
            text-shadow: 1px black;
            margin-top: 0px;
         }
         .card-group{
             background-color: $colorSecundario;
             grid-area: card-group;
            }
        }
        .footerContacto{
             grid-area: footerContacto;
             background-color:$colorTerciario;
             text-align: center;
           }               
        }

        @media screen and (max-width:600px){
            .bodyContacto{
                background-color: $colorTerciario;
            }
            .card-group{
                display: none;
            }
         }
        @media screen and (max-width:399px){
            .bodyContacto{
                background-color: whitesmoke;
            }
            .contactosTitulo{
                font-size: small;
                font-weight: bold;
                color:$colorTerciario;
            }
         }

        